html,body{
    background-color:#F3F3F3;
    width: 100%;
    height: 100%;
}
.left{
    float: left;
}
.right{
    float: right;
}
#banner{
    width: 100%;
    height: 22rem;
    height:60vw;
    background: url("../images/mamabang/banner2.png") 0 0 no-repeat;
    background-size:100% 100%;
    -webkit-background-size: 100% 100%;
}
#contain{
    background-color: #fff;
}
.con-header {
    background-color: #FFBFBC;
    width: 100%;
    font-size: 1.5rem;
    line-height: 5rem;
}
.con-header>p:nth-child(1){
    letter-spacing: 0.2rem;
    margin: 0 0 0 2.5rem;
}
.con-header>p:nth-child(2){
    margin: 0 2rem 0 0;
    color: #E36900;
    letter-spacing: 0.2rem;
}
.payment{
    font-size: 1.3rem;
    line-height: 4rem;
    width: 100%;
}
.payment>p:nth-child(1){
    color:#FF7900;
    margin: 0 0 0 2rem;
}
.payment>p:nth-child(1)>span{
     font-size: 2rem;
 }
.payment>p:nth-child(2){
    margin: 0 0 0 2rem;
    line-height: 4.5rem;
}
.text>table {
    width: 90%;
    line-height: 2rem;
    font-size: 1.2rem;
    color: #aaa;
    margin: 0 5% 0;
}
.text{
    background: url("../images/mamabang/text.png") 0 0 no-repeat;
    width: 90%;
    margin: 0 5% 0;
    height: 7.5rem;
    height: 20vw;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;

}
.text>table>tbody>tr>td:nth-child(1){
    vertical-align: top;
    width: 1.5rem;
}
.icon {
    margin: 1rem 0 0 0;
}

.icon-img{
    width: 32rem;
    margin: 0 auto;
    height: 8rem;
}
.icon-img>div:nth-child(1){
    background: url("../images/mamabang/icon-1.png") 0 0 no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 7rem;
    height: 7rem;
    float: left;
    margin-right: 0.5rem;
    margin-left: 0.25rem;
}
.icon-img>div:nth-child(2){
    background: url("../images/mamabang/icon-2.png") 0 0 no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    width: 7rem;
    height: 7rem;
    float: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
 }
.icon-img>div:nth-child(3){
    background: url("../images/mamabang/icon-3.png") 0 -1px no-repeat;
    background-size: 100% 103%;
    -webkit-background-size: 100% 103%;
    width: 7rem;
    height: 7rem;
    float: left;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.icon-img>div:nth-child(4){
    background: url("../images/mamabang/icon-4.png") 3px 3px no-repeat;
    background-size: 98% 90%;
    -webkit-background-size: 98% 90%;
    width: 7rem;
    height: 7rem;
    float: left;
    margin-left: 0.5rem;
}
.icon-text{
    height: 3rem;
    width: 32rem;
    margin: 0 auto;
}
.icon-text>div{
    width: 8rem;
    text-align: center;
    font-size: 1.4rem;
    float: left;
    letter-spacing: 0.4rem;
}
#brief{
    background: url("../images/mamabang/footer.png") 0 0.5rem no-repeat;
    height: 2rem;
    background-size: 100%;
    -webkit-background-size: 100%;
    width: 58%;
    margin: 0 21% 6.5rem;
}
#footer{
  color: #FFFFFF;
    background: #FF7D76;
    font-size: 1.9rem;
    width: 100%;
    height: 5.5rem;
    line-height: 5.5rem;
    text-align: center;
    position: fixed;
    bottom: 0;
}